
/* Mixins */
@mixin menustyle {
	float: left;
	list-style: none;
}

@mixin border ($type, $size, $color) {
  border-#{$type}-width: $size;
  border-#{$type}-style: solid;
  border-#{$type}-color: $color;
}


/* Variables */

/* Generic colors */
$dk-blue: #03234A;
$med-blue: #0044A2;
$lt-blue: #9bc7ed;
$black: #000;
$dk-gray: #777980;
$gray: #5C6470;
$lt-gray: #ddd;
$lt-bluegray: #c2ccd0;
$white: #fff;
$red: #A90533;
$lt-yellow: #FFEBA5;
$med-yellow: #FFDF7E;

/* fonts */
$body-font: 'ingra';
$accent-font: 'tenso';
$lt-weight: 200;
$reg-weight: 400;
$med-weight: 500;
$body-bold-weight: 600;
$accent-bold-weight: 700;
    
$header-color: $dk-blue;
$header-padding: 0 0 30px;

$search-position: 20px 0 0 0;
$content-area-color: $white;

$hero-position: -50px 0 0 30px;
$hero-size: 2.5em;
$hero-color: $white;
$hero-style: $accent-font;
$hero-img-ht: 400px;
$hero-img-img: url('../images/hero_img2_reduced.jpg') 0 0 no-repeat;


/* navbar */
$nav-color: $med-blue;
$navlink-bkgrd-active: $dk-blue;
$navlink-link: $med-blue;
$navlink-link-active: $white;
$navlink-padding: 19px 32px 25px 32px;
$navlink-size: 24px;
$navlink-font: $accent-font;

/* submenu */
$submenu-color: $white;
$submenu-link-bkgrd-active: none;
$submenu-link-link: $med-blue;
$submenu-link-link-active: $dk-blue;
$submenu-link-padding: 15px 15px 15px 15px;
$submenu-link-size: 1em;
$submenu-link-font: $accent-font;


/* Main content */
$body-color: $black;
$body-size: 1.4em;
$body-height: 1.5em;
$link-color: $med-blue;


$main-container-margin: 60px 0 0 0;
$main-content-margin: 0 60px 80px 30px;


$h1-size: 3.0em;
$h1-color: $med-blue;
$h1-style: $accent-font;
$h1-weight: $accent-bold-weight;
$h1-height: 1;
$h1-margin: 80px 0 40px 0;

$h2-size: 1.6em;
$h2-color: $dk-blue;
$h1-weight: $med-weight;
$h2-style: $accent-font;
$h2-height: 1.5em;
$h2-margin: 20px 0 0 0;

$h3-size: 1.0em;
$h3-color: $gray;
$h3-style: $body-font;
$h3-height: 1.0em;
$h3-margin: 20px 0 3px 0;


$footer-color: $dk-blue;
$footer-border-color: $med-yellow;


$footer-legal-size: 1.1em;
$footer-font-color: $white;

h1, h2, h3, h4, strong {
  font-weight: normal;
}

strong {
  font-family: $body-font;
  font-weight: $body-bold-weight;
}

