
/* Mixins */
@mixin menustyle {
	float: left;
	list-style: none;
}

@mixin border ($type, $size, $color) {
  border-#{$type}-width: $size;
  border-#{$type}-style: solid;
  border-#{$type}-color: $color;
}


/* Variables */

/* Generic colors */
$dk-blue: #17334b;
$med-blue: #477aa6;
$lt-blue: #9bc7ed;
$dk-gray: #404347;
$gray: #5C6470;
$lt-gray: #ddd;
$lt-bluegray: #c2ccd0;
$white: #fff;

/* fonts */
$body-font: 'OpenSansLight';
$bold-font: 'OpenSansBold';
$lt-font: 'OpenSansLight';
$reg-font: 'OpenSansRegular';
$semi-font: 'OpenSansSemibold';

    
$header-color: $dk-blue;
$header-padding: 25px 0 30px;

$search-position: 20px 0 0 0;
$content-area-color: $white;

$hero-position: 50px 0 0 30px;
$hero-size: 3.0em;
$hero-color: $white;
$hero-style: $bold-font;
$hero-img-ht: 400px;
$hero-img-img: url('../images/hero_img2_reduced.jpg') 0 0 no-repeat;


/* navbar */
$nav-color: $med-blue;
$navlink-bkgrd-active: $lt-blue;
$navlink-link: $white;
$navlink-link-active: $med-blue;
$navlink-padding: 15px 15px 15px 15px;
$navlink-size: 20px;
$navlink-font: 'OpenSansRegular';

/* submenu */
$submenu-color: $white;
$submenu-link-bkgrd-active: $lt-grap;
$submenu-link-link: $med-blue;
$submenu-link-link-active: $dk-blue;
$submenu-link-padding: 15px 15px 15px 15px;
$submenu-link-size: 1.2em;
$submenu-link-font: $reg-font;


/* Main content */
$body-color: $dk-gray;
$body-size: 1.3em;
$body-height: 1.5em;
$link-color: $med-blue;


$main-container-margin: 40px 0 0 0;
$main-content-margin: 0 60px 80px 30px;


$h1-size: 3.0em;
$h1-color: $dk-blue;
$h1-style: $lt-font;
$h1-height: 1.2em;;
$h1-margin: 20px 0;

$h2-size: 1.35em;
$h2-color: $lt-blue;
$h2-style: $reg-font;
$h2-height: 1.5em;;
$h2-margin: 20px 0 0 0;

$h3-size: 1.0em;
$h3-color: $gray;
$h3-style: $bold-font;
$h3-height: 1.0em;
$h3-margin: 20px 0 3px 0;


$footer-color: $gray;
$footer-border-color: $lt-bluegray;


$footer-legal-size: 1.1em;
$footer-font-color: $white;

h1, h2, h3, h4, strong {
  font-weight: normal;
}

strong {
  font-family: $semi-font;
}

